* {
  box-sizing: border-box;
}

:root {

  
}

body[data-theme=dark] {
  -colors-ft:  hsl(0, 0%, 100%);
  -colors-bg: hsl(207, 26%, 17%);
  -colors-el: hsl(209, 23%, 22%);
  -colors-input: hsl(0, 0%, 52%)
}

body[data-theme=dark] {
  -colors-ft:  hsl(200, 15%, 8%);
  -colors-bg:  hsl(0, 0%, 98%);
  -colors-el: hsl(0, 0%, 100%);
  -colors-input: hsl(0, 0%, 52%)
}